body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:793px;
}
#u1955 {
  position:absolute;
  left:540px;
  top:40px;
  width:381px;
  height:793px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:388px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:563px;
  top:140px;
  width:336px;
  height:593px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:288px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:142px;
}
#u1959 {
  position:absolute;
  left:471px;
  top:-2px;
  width:506px;
  height:142px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:63px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:786px;
}
#u1961 {
  position:absolute;
  left:481px;
  top:731px;
  width:503px;
  height:786px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:385px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
}
#u1963 {
  position:absolute;
  left:563px;
  top:140px;
  width:336px;
  height:13px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:-2px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1965 {
  position:absolute;
  left:939px;
  top:272px;
  width:210px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1967 {
  position:absolute;
  left:217px;
  top:333px;
}
#u1967_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1967_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:126px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:55px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1970 {
  position:absolute;
  left:62px;
  top:26px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:77px;
  width:268px;
  height:1px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u1974 {
  position:absolute;
  left:134px;
  top:77px;
  width:1px;
  height:49px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:182px;
  top:91px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1978 {
  position:absolute;
  left:49px;
  top:91px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1980 {
  position:absolute;
  left:134px;
  top:77px;
  width:134px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1981 {
  position:absolute;
  left:0px;
  top:78px;
  width:134px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:564px;
  top:284px;
  width:334px;
  height:132px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:58px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1984 {
  position:absolute;
  left:642px;
  top:295px;
  width:243px;
  height:19px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1986 {
  position:absolute;
  left:642px;
  top:318px;
  width:243px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:814px;
  top:380px;
  width:67px;
  height:21px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u1990 {
  position:absolute;
  left:563px;
  top:369px;
  width:336px;
  height:1px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1992 {
  position:absolute;
  left:574px;
  top:380px;
  width:93px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1994 {
  position:absolute;
  left:574px;
  top:295px;
  width:60px;
  height:60px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:563px;
  top:153px;
  width:336px;
  height:48px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:16px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:704px;
  top:167px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2000 {
  position:absolute;
  left:615px;
  top:165px;
  width:25px;
  height:25px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u2002 {
  position:absolute;
  left:578px;
  top:166px;
  width:15px;
  height:25px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:46px;
}
#u2007 {
  position:absolute;
  left:563px;
  top:201px;
  width:336px;
  height:46px;
  font-size:18px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2009 {
  position:absolute;
  left:564px;
  top:211px;
  width:83px;
  height:22px;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:6px;
}
#u2011 {
  position:absolute;
  left:579px;
  top:241px;
  width:55px;
  height:6px;
  font-size:18px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:-5px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2013 {
  position:absolute;
  left:650px;
  top:211px;
  width:83px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2015 {
  position:absolute;
  left:733px;
  top:211px;
  width:83px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2017 {
  position:absolute;
  left:815px;
  top:211px;
  width:83px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2019 {
  position:absolute;
  left:574px;
  top:265px;
  width:172px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:642px;
  top:334px;
  width:133px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2023 {
  position:absolute;
  left:564px;
  top:445px;
  width:334px;
  height:132px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:58px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2025 {
  position:absolute;
  left:642px;
  top:456px;
  width:243px;
  height:19px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2027 {
  position:absolute;
  left:642px;
  top:479px;
  width:243px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  position:absolute;
  left:814px;
  top:541px;
  width:67px;
  height:21px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u2031 {
  position:absolute;
  left:563px;
  top:530px;
  width:336px;
  height:1px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2033 {
  position:absolute;
  left:574px;
  top:541px;
  width:93px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2035 {
  position:absolute;
  left:574px;
  top:456px;
  width:60px;
  height:60px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2037 {
  position:absolute;
  left:574px;
  top:426px;
  width:172px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2039 {
  position:absolute;
  left:642px;
  top:495px;
  width:133px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:737px;
  top:541px;
  width:67px;
  height:21px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:564px;
  top:606px;
  width:334px;
  height:132px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:58px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2045 {
  position:absolute;
  left:642px;
  top:612px;
  width:243px;
  height:19px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2047 {
  position:absolute;
  left:642px;
  top:640px;
  width:243px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:751px;
  top:701px;
  width:67px;
  height:21px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u2051 {
  position:absolute;
  left:563px;
  top:691px;
  width:336px;
  height:1px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2053 {
  position:absolute;
  left:574px;
  top:702px;
  width:93px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2055 {
  position:absolute;
  left:574px;
  top:617px;
  width:60px;
  height:60px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2057 {
  position:absolute;
  left:574px;
  top:587px;
  width:172px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2059 {
  position:absolute;
  left:642px;
  top:656px;
  width:133px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2061 {
  position:absolute;
  left:680px;
  top:702px;
  width:67px;
  height:21px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:824px;
  top:702px;
  width:67px;
  height:21px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
